/*sections*/
.section {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
}
.section_1 {
  background: url(img/banner-bg.jpg) no-repeat center;
  border-radius: 0 0 50% 50% / 5%;
  height: 810px;
}
.section_2,
.section_3,
.section_4 {
  max-width: 1200px;
}
.section_5 {
  background: url(img/download-section-bg.jpg) no-repeat center;
  background-size: cover;
}
.section_6 {
  background-color: #2e3149;
}
.curved_bg {
  background-image: url(img/curved-bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  height: 350px;
}

/**********************************************SECTION 1*************************************/

.nav_items li a {
  color: rgba(255, 255, 255, 0.6);
}
.nav_items {
  list-style-type: none;
}
.nav_items .active {
  color: var(--pri);
}
.social_media > a {
  color: var(--pri);
  font-size: 20px;
  padding: 0 15px;
}

.social_media > a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.nav_items li a:hover {
  color: var(--pri);
}

.img_mobile {
  height: 600px;
  position: absolute;
  right: 0;
  top: -200px;
}

.main p {
  max-width: 450px;
  line-height: 25px;
}
.navigation_bar {
  max-width: 1200px;
}
.main {
  max-width: 1200px;
}
.nav_items li {
  padding: 0 30px;
}

.btn_container {
  width: fit-content;
}

/**********************************************SECTION 2*************************************/
.row {
  display: flex;
  justify-content: space-around;
}
.row_ele {
  max-width: 400px;
  display: flex;
  align-items: center;
  line-height: 2;
  margin: auto;
}
.row_text p {
  max-width: 250px;
}

/**********************************************SECTION 3*************************************/

.part {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.part:nth-child(even) {
  flex-direction: row-reverse;
}
.text_part {
  max-width: 450px;
  line-height: 2;
  font-weight: 500;
}

.part img {
  width: 250px;
}
.social {
  display: flex;
  justify-content: start;
  width: fit-content;
}
.part .social a {
  text-align: center;
  padding: 15px;
  width: 50px;
  box-shadow: 0 0 0 5px #f9f9f9;
  border-radius: 50%;
  color: #c3cfe5;
  border: 1px solid #ededed;
}

/**********************************************SECTION 4*************************************/
.review_container p {
  max-width: 450px;
  font-weight: 500;
}

/**********************************************SECTION 5*************************************/
.container {
  max-width: 70%;
}
.container p {
  width: 32%;
  line-height: 1.7;
  line-break: strict;
}
.download_options img {
  width: 147px;
  height: 45px;
}
/**********************************************SECTION 6*************************************/

.border_line {
  height: 1px;
  width: 60%;
  margin: 0 auto;
  border: 1px solid #434769;
  display: block;
  margin-top: 50px;
}
.footer_copyright {
  color: #565b87;
  text-align: center;
  font-size: 13px;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* media queries */

@media all and (max-width: 1200px) {
  .img_mobile {
    right: 100px;
  }
}
@media all and (max-width: 1024px) {
  .img_mobile {
    height: 450px;
    right: 0;
    left: 0;
    top: 30px;
  }
  .main h1 {
    font-size: 40px;
  }
  .container {
    max-width: 90%;
    color: var(--dark);
  }
  .review_container p {
    max-width: 500px;
  }
  .row_ele {
    flex-direction: column;
  }
  .row_text {
    text-align: center;
    margin-left: 0;
  }
  .container p {
    width: 50%;
  }
}
@media all and (max-width: 770px) {
  .nav_items {
    display: none;
  }
  .main h1 {
    font-size: 35px;
  }
  .main {
    margin-top: 0px;
    padding: 0 30px;
  }
  .author,
  .text_part {
    text-align: center;
  }
  .part {
    flex-direction: column;
  }
  .part:nth-child(even) {
    flex-direction: column;
  }
  .social {
    margin: auto;
  }
  .slick-slide img {
    width: 200px;
    height: 400px;
  }
  .row {
    flex-direction: column;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .container p {
    margin: auto;
    width: 100%;
  }
  .download_options {
    margin-top: 30px;
  }
}
@media all and (max-width: 480px) {
  .main h1 {
    text-align: center;
    font-size: 30px;
  }
  .main p {
    margin: auto;
    text-align: center;
  }
  .btn_container {
    margin: auto;
  }
}

/************************************************SLIDER*******************************************************/
.slider {
  width: auto;
  margin: 30px 50px 50px;
}
.slider .slick-slide {
  color: white;
  font-size: 30px;
  font-family: "Arial", "Helvetica";
  text-align: center;
}
.slick-slide img {
  margin: auto;
  max-width: 300px;
  max-height: 500px;
}
.slider .slick-prev:before,
.slider .slick-next:before {
  color: #292e3e;
}
.slider .slick-dots {
  bottom: -30px;
}
.banner_image_container {
  position: relative;
}

.slick-prev:before {
  content: url(img/left-arrow.jpg) !important;
}
.slick-next:before {
  content: url(img/right-arrow.jpg) !important;
}

.slick-dots {
  margin-bottom: -50px !important;
}
.slick-dots li button:before {
  font-size: 10px !important;
}
