:root {
  --pri: #fff;
  --sec: #234197;
  --lblue: #648cff;
  --dark: #000000;
  --ldark: #c7c7c7;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
input[type="button"] {
  border: none;
  outline: none;
}

body {
  padding: 0;
  margin: 0;
  color: var(--pri);
  font-family: "Montserrat", sans-serif;
}
.section_1 {
  background-image: url(img/banner-bg.jpg);
  background-size: 100% 100%;
  height: 810px;
}
.section_5 {
  background: url(img/download-section-bg.jpg) no-repeat center;
}
.section_6 {
  background-color: #2e3149;
}
.container p {
  max-width: 350px;
  line-height: 1.7;
}
.curved_bg {
  background-image: url(img/curved-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 350px;
}
.part {
  max-width: 1100px;
  margin: auto;
}
/* colors */
.cl_pri {
  color: var(--pri);
}
.lblue {
  color: var(--lblue);
}
.dark {
  color: var(--dark);
}
.ldark {
  color: var(--ldark);
}

/* paddings*/
.p_30 {
  padding: 30px;
}
.pt_30 {
  padding-top: 30px;
}
.pt_50 {
  padding-top: 50px;
}
.pt_60 {
  padding-top: 60px;
}
.pr_100 {
  padding-right: 100px;
}
.pl_100 {
  padding-left: 100px;
}
.pl_180 {
  padding-left: 180px;
}
.pr_180 {
  padding-right: 180px;
}
.pb_80 {
  padding-bottom: 80px;
}

.p_0 {
  padding: 0;
}
/* margins */
.mt_110 {
  margin-top: 110px;
}
.mt_200 {
  margin-top: 200px;
}
.mt_60 {
  margin-top: 60px;
}
.m_0 {
  margin: 0;
}

.m_a {
  margin-left: auto;
  margin-right: auto;
}
.ml_10 {
  margin-left: 10px;
}
.ml_50 {
  margin-left: 50px;
}
.ml_100 {
  margin-left: 100px;
}
/* border */

/*display*/
.d_f {
  display: flex;
}
.d_ib {
  display: inline-block;
}

/* justify content */
.jc_sa {
  justify-content: space-around;
}

.jc_c {
  justify-content: center;
}
.jc_sb {
  justify-content: space-between;
}
/* align items */
.ai_c {
  align-items: center;
}

/*flex_wrap*/
.flexw_w {
  flex-wrap: wrap;
}
/* font_weights */

.fw_300 {
  font-weight: 300;
}
.fw_400 {
  font-weight: 400;
}
.fw_b {
  font-weight: bolder !important;
}
/* font size */

.fs_14 {
  font-size: 14px !important;
}
.fs_15 {
  font-size: 15px;
}
.fs_16 {
  font-size: 16px;
}
.fs_26 {
  font-size: 26px;
}

.fs_36 {
  font-size: 36px;
}
.fs_50 {
  font-size: 50px;
}

/*text-align*/
.ta_c {
  text-align: center;
}
.ta_l {
  text-align: left;
}

/*float*/
.f_r {
  float: right;
}
.f_l {
  float: left;
}

/* buttons */

.custom_btn_1 {
  background-color: var(--pri);
  color: var(--sec);
  padding: 12px 16px;
  border-radius: 5px;
  font-weight: 900;
  cursor: pointer;
  transition-duration: 0.2s;
}
.custom_btn_2 {
  background-color: var(--sec);
  color: var(--pri);
  padding: 10px 14px;
  border-radius: 5px;
  font-weight: 400;
  cursor: pointer;
  transition-duration: 0.2s;
}
.custom_btn_1:hover {
  background-color: var(--sec);
  color: var(--pri);
}
.custom_btn_2:hover {
  background-color: var(--pri);
  color: var(--sec);
}

.nav_items li a {
  color: rgba(255, 255, 255, 0.6);
}
.nav_items {
  list-style-type: none;
}
.nav_items .active {
  color: var(--pri);
}
.social_media > a {
  color: var(--pri);
  font-size: 20px;
  padding: 0 15px;
}

.social_media > a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.nav_items li a:hover {
  color: var(--pri);
}

.img_mobile {
  height: 600px;
  position: absolute;
  right: 300px;
  top: 320px;
}

.main p {
  max-width: 450px;
  line-height: 25px;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.row_ele {
  max-width: 400px;
  display: flex;
  align-items: center;
  line-height: 2;
}
/* .carousel_item img {
  max-width: 200px;
  max-height: 400px;
}
/* .carousel_item {
  padding-left: 100px;
  padding-right: 100px;
}
.image_container {
  max-width: 1000px;
  margin: auto;
}
.carousel {
  text-align: center;
  position: relative;
} */
*/ .next {
  position: absolute;
  top: 200px;
  right: 200px;
}
.prev {
  position: absolute;
  top: 200px;
  left: 200px;
}

.slick-dots {
  bottom: -50px !important;
}

.part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.part .text_part,
.image_part {
  margin-left: 50px;
  margin-right: 50px;
}
.text_part {
  max-width: 450px;
  line-height: 2;
  font-weight: 500;
}
.part img {
  width: 250px;
}
.social {
  display: flex;
  justify-content: start;
  width: fit-content;
}
.part .social a {
  text-align: center;
  padding: 15px;
  width: 50px;
  box-shadow: 0 0 0 5px #f9f9f9;
  border-radius: 50%;
  color: #c3cfe5;
  border: 1px solid #ededed;
}
.review_container p {
  max-width: 450px;
  font-weight: 500;
}
.review_container {
  padding-left: 100px;
  padding-right: 100px;
}
.border_line {
  height: 1px;
  width: 60%;
  margin: 0 auto;
  border: 1px solid #434769;
  display: block;
  margin-top: 50px;
}
.footer_copyright {
  color: #565b87;
  text-align: center;
  font-size: 13px;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
}
.part:nth-child(even) {
  flex-direction: row-reverse;
}
.social {
  position: relative;
  margin-bottom: 30px;
}

.download_options img {
  width: 147px;
}
/* media queries */

@media (min-width: 1400px) {
  .navigation_bar {
    max-width: 1200px;
  }
  .main {
    max-width: 1200px;
  }
  .nav_items li {
    padding: 0 30px;
  }
  .main h1 {
    font-size: 55px;
  }
}

@media (max-width: 1400px) {
  .nav_items li {
    padding: 0 10px;
    font-size: 16px;
  }
  .main p {
    max-width: 400px;
  }
  .section_5,
  .section_3,
  .section_4 {
    padding: 25px 50px 40px 50px;
  }
  .review_container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .section_5 .container {
    margin-left: 0;
  }
}
@media (max-width: 1048px) {
  .main {
    margin-top: 10px;
    padding: 0 50px;
  }
  .main h1 {
    font-size: 45px;
    text-align: center;
  }
  .main p {
    margin: auto;
    text-align: center;
  }
  .img_mobile {
    height: 450px;
    top: 450px;
    right: 0;
    left: 0;
  }
  .btn_container {
    display: flex;
    justify-content: center;
  }
  .section_2 {
    padding-left: 80px;
    padding-right: 80px;
  }
  .container {
    max-width: 400px;
    text-align: center;
  }
  .section_3 .part {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .social {
    margin: auto;
  }

  .review_container p {
    max-width: 300px;
  }
  .review_container {
    margin-bottom: 40px;
    text-align: center;
  }
}

@media screen and (max-width: 750px) {
  .main h1 {
    font-size: 35px;
  }
  .main {
    margin: 0;
    padding: 0 30px;
  }
  .section_2 {
    padding-left: 31px;
    padding-right: 31px;
  }
  .row_text {
    margin-left: 30px;
  }
}

@media screen and (max-width: 600px) {
  .nav_items {
    display: none;
  }
  .main {
    padding: 0 5px;
  }
  .main h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 450px) {
  .slick-slide img {
    width: 150px;
    height: 300px;
  }
}

@media screen and (max-width: 350px) {
  .navigation_bar {
    padding: 5px 30px;
  }
  .section_2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/***********************slick******************************/
.slider {
  width: auto;
  margin: 30px 50px 50px;
}
.slider .slick-slide {
  color: white;
  font-size: 30px;
  font-family: "Arial", "Helvetica";
  text-align: center;
}
.slick-slide img {
  margin: auto;
  max-width: 300px;
  max-height: 500px;
}
.slider .slick-prev:before,
.slider .slick-next:before {
  color: #292e3e;
}
.slider .slick-dots {
  bottom: -30px;
}
